@charset "UTF-8";

@media screen and (max-width:768px) {
	body{
		font-size:0.8rem;
	}
}

ul{
	margin:0;
	padding: 0;
	list-style: none;
}

a{
    outline: none;
}

a:hover,a:active{
	text-decoration: none;
}

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
	position: fixed;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	background:#a846fb;
	opacity: 0.95;
	text-align:center;
	color:#fff;
}

#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	width: 100%;
	transform: translate(-50%, -50%);
	color: #fff;
}

/* heading */
.heading-block{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:black;
    text-align: center;
}

.heading-block,.myname{
	z-index: 2;
	font-weight: normal;
    font-size:6vw;
    line-height: 1;
    letter-spacing: 0.05em;
    color:#fff;
    font-family: 'Beau Rivage', cursive;
}

.heading-block p{
    font-size:1.2vw;
    letter-spacing: 0.5em;
}

@media only screen and (max-width:768px) {
	.heading-block h1{
		font-size:4em;
		line-height: 1.5;
    }

	.heading-block p{
    	font-size:1.5em;
    	letter-spacing: 0.2em;
    }
}

/*snsicon*/
#sns-icon img{
    width: 50px;
}

@media only screen and (max-width:768px){
	#sns-icon img{
    width: 30px;
	}
}

#sns-icon{
	z-index: 2;
    position: fixed;
    left:20px;
    top:20px;
    display: flex;
}

#sns-icon li{
     margin:0 10px;
}

#sns-icon a{
    transition: all .5s;
}

#sns-icon a:hover{
    opacity: 0.6;
}

/*スライドショー*/

.slider {
  position:relative;
	z-index: 1;
	/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

/*背景画像設定*/
.slider-item01{
    background:url(../img/001.jpg);
}

.slider-item02 {
    background:url(../img/003.jpg);
}

.slider-item03 {
    background:url(../img/004.jpg);
}

.slider-item {
    width: 100vw;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/
.slick-prev,.slick-next {
    position: absolute;
	z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #a846fb;/*矢印の色*/
    border-right: 2px solid #a846fb;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}
/*ドットナビゲーションの設定*/

.slick-dots {
	position: relative;
	z-index: 3;
    text-align:center;
	margin:-50px 0 0 0;/*ドットの位置*/
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#fff;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#fff;/*ドットボタンの現在地表示の色*/
}

.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	right: 10px;
	cursor: pointer;
    width: 100px;
    height:100px;
}

/*×に変化*/
.openbtn span{
	z-index: 9999;
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color:black;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;
}

.openbtn span:nth-of-type(2) {
	top:30px;
}

.openbtn span:nth-of-type(3) {
	top:45px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
}

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top:0;
    right: -120%;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#a846fb;
    /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/
#g-nav li{
    text-align: center;
    font-size:30px;
}

#g-nav li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

#area2{
    margin:0 0 200px 0;
}

@media screen and (max-width:960px) {
	#area2{
    	margin:0 0 100px 0;
		}
}

.about-area{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-area p{
    margin: 0 0 30px 0;
}

.about-area .txt-r{
     text-align: right;
}

.about-lead{
    font-weight: bold;
    font-size: 1.2rem;
}

.about-img{
    width:50%;
}

.about-img img{
    width:70%;
    margin-top: 50px; /* 画像の上の余白*/
	display: inline-block;
	box-shadow: 250px 90px 10px -5px rgba(201,201,201,0.4); /*横方向　下方向　ぼかし　広がり　色 */
}

.about-content{
    width:40%;
}

.about-h2{
	font-size:50px;
}

.jp{
	font-size:30px;
}

.hobby-h2{
	font-size:100px;
	text-align:center;
}

.parent{
  display: flex;
  height: 100vh;
}

.child img{
  height: 100vh;
  width: 50%;
}

@media screen and (max-width: 768px) {
 	.parent{
  		 flex-direction: column;
 	}

 	.child{
		width: 100%;
	}
}

.split {
  z-index: 2;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.split__img-wrapper{
	width:100%;
}

.split__img img{
	display: inline-block;
	box-shadow: 250px 90px 10px -5px rgba(201,201,201,0.4); /*横方向　下方向　ぼかし　広がり　色 */
	display: block;
    object-fit: fill;
    width: 100%;
}

.split__title {
  font-size: 50px;
  font-weight: bold;
  margin:0;
}

.split__text {
  margin-top: 10px;
  line-height: 1.6;
  padding: 10px;
}

.background {
  background-color:#a846fb;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  z-index: -2;
  opacity: 0.3;
}

.bgextend{
	animation-name:bgextendAnimeBase;
	animation-duration:1s;
	animation-fill-mode:forwards;
	position: relative;
	overflow: hidden;/*　はみ出た色要素を隠す　*/
	opacity:0;
}

@keyframes bgextendAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;
}
}

/*中の要素*/
.bgappear{
	animation-name:bgextendAnimeSecond;
	animation-duration:1s;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes bgextendAnimeSecond{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

/*左から右*/
.bgLRextend::before{
	animation-name:bgLRextendAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #666;/*伸びる背景色の設定*/
}
@keyframes bgLRextendAnime{
	0% {
		transform-origin:left;
		transform:scaleX(0);
	}
	50% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger{
    opacity: 0;
}
