@charset "UTF-8";

.sns-icon img{
    width: 20px;
}

.sns-icon{
    position: fixed;
    right:20px;
    top:20px;
    display: flex;
}

.sns-icon li{
     margin:0 10px;
}

.sns-icon a{
    transition: all .5s;
}

.sns-icon a:hover{
    opacity: 0.7;
}